<h1>
  <%= image_tag('camera.svg', alt: 'camera icon', width: 50) %>
  Kevin's Image Sharer
</h1>
<% if params[:tag] %>
  <div>
    <h2>Filter</h2>
    tag: <%= params[:tag] %>
    <%= link_to 'clear filter', images_path, class: 'clear-filter-link' %>
  </div>
<% end %>
<h2>Images</h2>
<%= link_to 'add an image', new_image_path %>
<% if @images.any? %>
  <ol>
  <% @images.newest_first.all.each do |image| %>
    <li class="image-list-item">
      <div class="image-wrapper">
        <%= link_to image_tag(image.url), image_path(image) %>
        <%= render 'tag_list', image: image %>
        </div>
      </li>
  <% end %>
  </ol>
<% else %>
  <p class="js-no-images-message">
    <%= params[:tag] ? "There are no images tagged with '#{params[:tag]}'" : 'No images have been added'%>
  </p>
<%end%>